<div class="container my-3 py-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 ">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/image-sequnce.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="width: 18rem;">Secuencia de imagenes</h5>
                    <p class="card-text">Ordenar de manera alfabetica los instrumentos de las imagenes</p>
                    <button class="btn btn-primary mx-2" (click)="irSecuenciaGame()">Jugar</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 ">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/memory-game-icon.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Juego de memoria</h5>
                    <p class="card-text">Encontra la pareja de imagenes usando la memoria visual</p>
                    <button class="btn btn-primary mx-2" (click)="irMemoryGame()">Jugar</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 ">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/basic-arithmetic-quiz-icon-color.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Aritmetica</h5>
                    <p class="card-text">Realizar las cuentas lo mas rapido posible</p>
                    <button class="btn btn-primary mx-2" (click)="irAritmeticaGame()">Jugar</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 ">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/drag-and-drop-icon.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Clasificar</h5>
                    <p class="card-text">Clasificar los instrumentos musicales por tipo</p>
                    <button class="btn btn-primary mx-2" (click)="irClasificarGame()">Jugar</button>
                </div>
            </div>
        </div>
        
    </div>
</div>
